<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>NSAdvertisingAttributionReportEndpoint</key>
    <string>https://singular-bi.net</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIInterfaceOrientation-iphoneos</key>
    <string>UIInterfaceOrientationPortrait</string>
    <key>TFNClientPrimaryScheme</key>
    <string>twitter</string>
    <key>UISupportsDocumentBrowser-macos</key>
    <false/>
    <key>DTPlatformVersion</key>
    <string>16.4</string>
    <key>DTSDKBuild</key>
    <string>20E238</string>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleBlackOpaque</string>
    <key>AppIdentifierPrefix</key>
    <string>8248RGMF2D.</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>Custom-Icon-007</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Custom-Icon-007</string>
        </dict>
        <key>Custom-Icon-003</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Custom-Icon-003</string>
        </dict>
        <key>Custom-Icon-006</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Custom-Icon-006</string>
        </dict>
        <key>Custom-Icon-002</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Custom-Icon-002</string>
        </dict>
        <key>Custom-Icon-005</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Custom-Icon-005</string>
        </dict>
        <key>Custom-Icon-001</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Custom-Icon-001</string>
        </dict>
        <key>Custom-Icon-004</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Custom-Icon-004</string>
        </dict>
      </dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>ProductionAppIcon60x60</string>
          <string>ProductionAppIcon76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>ProductionAppIcon</string>
      </dict>
    </dict>
    <key>GADApplicationIdentifier</key>
    <string>ca-app-pub-9820889911543502~4092151694</string>
    <key>NSLocationDefaultAccuracyReduced</key>
    <true/>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>Capture and Tweet photos and videos from Twitter.</string>
    <key>UIApplicationSceneManifest-macos</key>
    <dict>
      <key>UIApplicationSupportsMultipleScenes</key>
      <true/>
    </dict>
    <key>CFBundleDisplayName</key>
    <string>X</string>
    <key>UIAppFonts-macos</key>
    <array>
      <string>Chirp/Chirp-Bold.otf</string>
      <string>Chirp/Chirp-Heavy.otf</string>
      <string>Chirp/Chirp-Medium.otf</string>
      <string>Chirp/Chirp-Light.otf</string>
      <string>Chirp/Chirp-Regular.otf</string>
      <string>Chirp/ChirpCY-Bold.otf</string>
      <string>Chirp/ChirpCY-Heavy.otf</string>
      <string>Chirp/ChirpCY-Medium.otf</string>
      <string>Chirp/ChirpCY-Light.otf</string>
      <string>Chirp/ChirpCY-Regular.otf</string>
      <string>Chirp/Chirp-UI-VF.ttf</string>
      <string>../Frameworks/PeriscopeSDK.framework/Resources/MuseoSans_300.otf</string>
      <string>../Frameworks/PeriscopeSDK.framework/Resources/MuseoSans_500.otf</string>
      <string>../Frameworks/PeriscopeSDK.framework/Resources/MuseoSans_700.otf</string>
      <string>../Frameworks/PeriscopeSDK.framework/Resources/ProximaNova-Light.otf</string>
      <string>../Frameworks/PeriscopeSDK.framework/Resources/ProximaNova-Semibold.otf</string>
    </array>
    <key>DTXcodeBuild</key>
    <string>14E222b</string>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
    <true/>
    <key>CFBundleIdentifier</key>
    <string>com.atebits.Tweetie2</string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>com.atebits.Tweetie2.spotlight</string>
      <string>INSendMessageIntent</string>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>twitter</string>
      <string>fbauth</string>
      <string>googlechrome</string>
      <string>yelp</string>
      <string>foursquare</string>
      <string>soundcloud</string>
      <string>spotify</string>
      <string>org-appextension-feature-password-management</string>
      <string>comgooglemaps</string>
      <string>snapchat</string>
      <string>fb-messenger</string>
      <string>whatsapp</string>
      <string>googlegmail</string>
      <string>tg</string>
      <string>line</string>
      <string>viber</string>
      <string>instagram-stories</string>
      <string>lightning</string>
      <string>linkedin</string>
    </array>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>Custom-Icon-007</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Custom-Icon-007</string>
        </dict>
        <key>Custom-Icon-003</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Custom-Icon-003</string>
        </dict>
        <key>Custom-Icon-006</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Custom-Icon-006</string>
        </dict>
        <key>Custom-Icon-002</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Custom-Icon-002</string>
        </dict>
        <key>Custom-Icon-005</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Custom-Icon-005</string>
        </dict>
        <key>Custom-Icon-001</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Custom-Icon-001</string>
        </dict>
        <key>Custom-Icon-004</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Custom-Icon-004</string>
        </dict>
      </dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>ProductionAppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>ProductionAppIcon</string>
      </dict>
    </dict>
    <key>TWBuildGitSHA</key>
    <string></string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>NSUserTrackingUsageDescription</key>
    <string>This helps Twitter show you more relevant ads.</string>
    <key>MinimumOSVersion</key>
    <string>15.0</string>
    <key>TWBuildNumber</key>
    <string>588</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Save to your Photos.</string>
    <key>SKAdNetworkItems</key>
    <array>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>n66cz3y3bx.skadnetwork</string>
      </dict>
    </array>
    <key>CFBundleName</key>
    <string>Twitter</string>
    <key>CFBundleShortVersionString</key>
    <string>9.68</string>
    <key>TWBuildTime</key>
    <string>2023-07-25T19:46:58Z</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>audio</string>
      <string>fetch</string>
      <string>remote-notification</string>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIAppFonts</key>
    <array>
      <string>Chirp/Chirp-Bold.otf</string>
      <string>Chirp/Chirp-Heavy.otf</string>
      <string>Chirp/Chirp-Medium.otf</string>
      <string>Chirp/Chirp-Light.otf</string>
      <string>Chirp/Chirp-Regular.otf</string>
      <string>Chirp/ChirpCY-Bold.otf</string>
      <string>Chirp/ChirpCY-Heavy.otf</string>
      <string>Chirp/ChirpCY-Medium.otf</string>
      <string>Chirp/ChirpCY-Light.otf</string>
      <string>Chirp/ChirpCY-Regular.otf</string>
      <string>Chirp/Chirp-UI-VF.ttf</string>
      <string>Frameworks/PeriscopeSDK.framework/MuseoSans_300.otf</string>
      <string>Frameworks/PeriscopeSDK.framework/MuseoSans_500.otf</string>
      <string>Frameworks/PeriscopeSDK.framework/MuseoSans_700.otf</string>
      <string>Frameworks/PeriscopeSDK.framework/ProximaNova-Light.otf</string>
      <string>Frameworks/PeriscopeSDK.framework/ProximaNova-Semibold.otf</string>
    </array>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
    <key>TWBuildTrain</key>
    <string>X</string>
    <key>CFBundleExecutable</key>
    <string>Twitter</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>GADDelayInitialization</key>
    <integer>1</integer>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Going forward, whenever you choose to share captions on this device, Apple will provide the service. Doing so helps make sure people of all hearing abilities can access your content.</string>
    <key>UIPrerenderedIcon</key>
    <true/>
    <key>DTAppStoreToolsBuild</key>
    <string>14E221</string>
    <key>UIRequiresPersistentWiFi</key>
    <true/>
    <key>FirebaseScreenReportingEnabled</key>
    <false/>
    <key>BuildMachineOSBuild</key>
    <string>22F82</string>
    <key>NSLocationUsageDescription-macos</key>
    <string>Enjoy the Twitter experience tailored to your location.</string>
    <key>TWSharedApplicationGroupIdentifier</key>
    <string>group.com.atebits.Tweetie2</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>NSCalendarsUsageDescription</key>
    <string>Add events to your calendar from Twitter.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Capture and Tweet videos with sound from Twitter.</string>
    <key>TWPushEnvironment</key>
    <string>3</string>
    <key>CFBundleVersion</key>
    <string>9.68</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.twitter.twitter-iphone</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>twitter</string>
          <string>com.twitter.twitter-iphone</string>
          <string>com.twitter.twitter-iphone+1.0.0</string>
          <string>tweetie</string>
          <string>com.atebits.Tweetie2</string>
          <string>com.atebits.Tweetie2+2.0.0</string>
          <string>com.atebits.Tweetie2+2.1.0</string>
          <string>com.atebits.Tweetie2+2.1.1</string>
          <string>com.atebits.Tweetie2+3.0.0</string>
          <string>fb2231777543</string>
          <string>twitterauth</string>
          <string>com.googleusercontent.apps.638150425128-l5vqrme56bqgum2unv5151c5569dllud</string>
        </array>
      </dict>
    </array>
    <key>NSLocationWhenInUseUsageDescription-iphoneos</key>
    <string>Enjoy the Twitter experience tailored to your location.</string>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
      <string>com.twitter.notifications.updateNotificationAuthorizationStatus</string>
    </array>
    <key>TWSharedKeychainOAuthIdentifier</key>
    <string>8248RGMF2D.com.atebits.Tweetie2.oauth</string>
    <key>DTSDKName</key>
    <string>iphoneos16.4</string>
    <key>TWTrainType</key>
    <string>dev</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSExceptionDomains</key>
      <dict>
        <key>api.twitter.com</key>
        <dict>
          <key>NSAllowsArbitraryLoads</key>
          <false/>
        </dict>
        <key>connectivitycheck.gstatic.com</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
        </dict>
        <key>concon.twitter.com</key>
        <dict>
          <key>NSAllowsArbitraryLoads</key>
          <false/>
        </dict>
        <key>cards.twitter.com</key>
        <dict>
          <key>NSAllowsArbitraryLoads</key>
          <false/>
        </dict>
        <key>upload.twitter.com</key>
        <dict>
          <key>NSAllowsArbitraryLoads</key>
          <false/>
        </dict>
      </dict>
    </dict>
    <key>DTPlatformBuild</key>
    <string>20E238</string>
    <key>NSContactsUsageDescription</key>
    <string>We will securely upload your contacts to our servers to help you connect with friends and suggest users to follow on Twitter.</string>
    <key>DTXcode</key>
    <string>1430</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Easily add photos on Twitter.</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
  </dict>
</plist>
